﻿@{
    ViewBag.Title = "About Us";
}

<h2 class="pagename">About Us</h2>
<p>
     We are two software engineers based out of Seattle, WA and Boston, MA with more than a decade each of experience building software and running online distributed services. This product is to address the fact that every time we build a new cloud service, we end up writing some variation of metrics and log capturing system. We realize there are other solutions in the market, but most of these are too feature rich and do not provide the simplicty of use that we are looking for when heads down in our own implementation.
</p>
