﻿@model AppInsights.Models.Contact
@{
    ViewBag.Title = "Contact";
}

<h2 class="pagename">Contact Us</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<h2>@ViewBag.Notice</h2>
<div>
     Our offices are in Seattle, WA. Our contact details are - 
     <ul>
        <li>info@streamviolet.com</li>
        <li>Ph: +1 206 617 3488</li>
     </ul>
</div>
<div>
    Or, you can leave your contact details here and we'll be sure to get in touch with you within 24 hours.
    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Your contact details</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>        
        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Reason)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reason)
            @Html.ValidationMessageFor(model => model.Reason)
        </div>
        <p>
            <button type="submit" class="button positive">Contact Me</button>
        </p>
    </fieldset>
}
</div>
