﻿@{
    ViewBag.Title = "Developers";
}
<a name="top"></a>
<h2 class="pagename">Developers</h2>

<p>
<a onclick="_gaq.push(['_trackEvent', 'Downloads', 'js_download']);" href="@Url.Content("~/Content/clients/appinsights-client.js")" class="button">Download Javascript Client</a>
<a onclick="_gaq.push(['_trackEvent', 'Downloads', 'php_download']);" href="@Url.Content("~/Content/clients/php_client.txt")" class="button">Download PHP Client</a>
<a onclick="_gaq.push(['_trackEvent', 'Downloads', 'dotnet_download']);" href="@Url.Content("~/Content/clients/DotNetClient.zip")" class="button">Download .NET Client</a>
</p>


<div style="float:left">
<ul style="list-style-type:none">
    <li><a href="#getstarted">Get Started</a></li>
    <li><a href="#restapi">REST Api</a></li>
    <li><a href="#phpclient">PHP Client</a></li>
    <li><a href="#jsclient">JavaScript Client</a></li>
</ul>

<a name="getstarted"></a>
<h2 class="alt">Get Started</h2>
<ol>
    <li>Register and get your Application key</li>
    <li>Download the easy to use client for your preferred technology (Don’t worry if the client is not available. Let us know the technology and we will try to build you one. In the meantime, you can publish your event stream straight to our REST Api)</li>
    <li>Start publishing your stream to the AppInsights Data Stream</li>
    <li>Start understanding your application better by reviewing the analytics provided by AppInsights</li>
</ol>
<a href="#top">Go to top</a>
<hr size="1" />

<a name="restapi"></a>
<h2 class="alt">REST API</h2>
<h3>URL Endpoint for the Data Stream</h3>
<p>https://localhost:50421/AiDataStream</p>

<h3>JSON Payload description</h3>
<p>In order to post an event, you would post JSON to the above URL. The JSON has the following structure</p>

<pre>
{
    "applicationKey":"appkey",
    "events":[{
        "sessionId":"0pgl8th6nmt4v86p90d9bssng2",
        "timestamp":"\/Date(07-06-2012)\/",
        "clientDip":"192.168.1.5",
        "componentName":"Book.Sold",
        "eventType":"Sales",
        "message":"",
        "severity":"",
        "metrics":[{
            "name":"author",
            "value":"J. K. Rowling"
        },
        {
            "name":"Title",
            "value":"Prisoner of Azkaban"
        }]
    }]
}
</pre>

<table>
    <thead>
    <tr>
        <th>Element</th>
        <th>Description</th>
        <th>Required or Optional</th>
    </tr>
    </thead>
    <tr>
        <td>applicationKey</td>
        <td>The application key you get when you register your application</td>
        <td>Required</td>
    </tr>
    <tr>
        <td>sessionId</td>
        <td>Your application’s session id. This could be your PHP or .NET session id depending on which technology you are using</td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>eventType</td>
        <td>The type of event you are sending. This is entirely dependent on your application. You can group various events depending on what they are. For example, events from your sales pages could be of eventType “Sale” whereas events from your Search pages could be of eventType “Search”. This will help you in segmenting your analysis</td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>componentName</td>
        <td>The component which sends the event. If your event is an error log, then it could be the class and method that generated the event</td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>severity</td>
        <td>The severity of your event. If you are sending an error log, then the severity could be Error, Info, Warning, Debug or Fatal</td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>message</td>
        <td>Any message you want to send with your event</td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>metrics:name</td>
        <td>This is the name of your structured metric. For example, “Author” could be the name of your metric when the context is books</td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>metrics:value</td>
        <td>The value of the metric you are sending. For example, “J. K. Rowling” is the value of the metric called “Author”</td>
        <td>Optional</td>
    </tr>
    <tr>
        <td>timestamp</td>
        <td>Time you are sending your event</td>
        <td>Required</td>
    </tr>
</table>

<h3>JSON Payload samples</h3>
<h4>Sending an error log</h4>
<pre>
{
    "applicationKey":"appkey",
    "events":[{
        "sessionId":"0pgl8th6nmt4v86p90d9bssng2",
        "timestamp":"\/Date(07-06-2012)\/",
        "clientDip":"192.168.1.5",
        "componentName":"Book.Sold",
        "eventType":"Sales",
        "message":"Book object cannot connect to the database. <Stack-trace here>",
        "severity":"Error",
    }]

}
</pre>

<h4>Sending a set of metrics:</h4>
<pre>
{
    "applicationKey":"appkey",
    "events":[{
        "sessionId":"0pgl8th6nmt4v86p90d9bssng2",
        "timestamp":"\/Date(07-06-2012)\/",
        "clientDip":"192.168.1.5",
        "componentName":"Book.Sold",
        "eventType":"Sales",
        "message":"",
        "severity":"",
        "metrics":[{
            "name":"author",
            "value":"J. K. Rowling"
        },
        {
            "name":"Title",
            "value":"Prisoner of Azkaban"
        }]
    }]
}
</pre>
<a href="#top">Go to top</a>
<hr size="1" />

<a name="phpclient"></a>
<h2 class="alt">PHP Client</h2>
<p>Follow these steps to start streaming your events from a PHP based application</p>
<ol>
    <li>Download AiDataChannelClient.php in a location available to your web application</li>
    <li>Include AiDataChannelClient.php from any PHP file that you want to send your events from</li>
    <li>Instantiate the object AiPhpDataChannelClient with your Application Key and the URL Endpoint</li>
    <li>Write your events</li>
</ol>

<h3>Public Method Signature</h3>
<code>
public function writeAiStream($metrics, $componentName = "AiDataChannelClient.php", $eventType = "PhpClient", $message = "", $severity = "")
</code>

<table>
    <thead>
        <tr>
            <th>Argument</th>
            <th>Description</th>
            <th>Required or Optional</th>
            <th>Default</th>
        </tr>
    </thead>
	<tr>
        <td>$metrics</td>
        <td>2-D array of name-value pairs of structured metrics</td>
        <td>Required</td>
        <td>No default</td>
    </tr>
	<tr>
        <td>$componentName</td>
        <td>Name of the component sending the event</td>
        <td>Optional</td>
        <td>AiDataChannelClient.php</td>
    </tr>
	<tr>
        <td>$eventType</td>
        <td>Logical event type decided by the Application developer</td>
        <td>Optional</td>
        <td>PhpClient</td>
    </tr>
	<tr>
        <td>$severity</td>
        <td>Error log severity. One of Fatal, Error, Warning, Info, Debug</td>
        <td>Optional</td>
        <td>No default</td>
    </tr>
	<tr>
        <td>$message</td>
        <td>Text message</td>
        <td>Optional</td>
        <td>No default</td>
    </tr>
</table>

<h3>Sample Code</h3>
<pre>
&lt;?php
    include AiPhpDataChannelClient.php
    $aiDataClient = new AiPhpDataChannelClient(&lt;URL Endpoint>, &lt;Your application key>);
    $aiDataClient->writeAiStream(array(array("name" => "name1", "value" => "value1"), array("name" => "name2", "value" => "value2")));
?>
</pre>
<a href="#top">Go to top</a>
<hr size="1" />

<a name="jsclient"></a>
<h2 class="alt">JavaScript Client</h2>
<ol>
    <li>Include appinsights-client.js</li>
    <li>Set the Application key using the function setApplicationKey(&lt;ApplicationKey>)</li>
    <li>Start publishing the stream of events using writeAiStreaam(&lt;event json object here>)</li>
</ol>

<h3>Sample code</h3>
<pre>
&ltscript type="text/javascript" src="http://localhost:49540/Scripts/appinsights-client.js">&lt;/script> 
&lt;script type="text/javascript">
        function OnButtonClicked() {
			setApplicationKey("appkey");
			writeDataStream({metrics:[{name:'testmetric', value:23}]});
		}
&lt;/script>
</pre>
</div>
