﻿@{
    ViewBag.Title = "Learn";
}

<h2 class="pagename">streamViolet Explained</h2>
<div class="span-12">
<h2 class="alt">Problem</h2>
    <ul>
        <li>You don't have time to spend on event capture and analysis infrastructure...so you don't!</li>
        <li>Your application wants to talk to you, but you are not listening.</li>
        <li>You miss vital insights that your application can provide you with.</li>
    </ul>
</div>


<div class="span-12 last">
    <h2 class="alt">Current Solutions</h2>
    <ul>
        <li>Home grown systems.</li>
        <li>Relying on anecdotal evidence isntead of hard data.</li>
        <li>Using web page analytics.</li>
    </ul>
</div>


<div class="span-24">
<h2 class="alt">Our Solution</h2>
    <div class="span-12">
    <ul>
        <li>Metrics</li>
        <ul>
            <li>KPIs modeled as structured events</li>
            <li>User/application behavioral analysis</li>
        </ul>
        <li>Logs</li>
        <ul>
            <li>Error, debug logs</li>
            <li>Unstructured text logs, stack traces</li>
        </ul>
        <li>Macro trends and comparative analysis</li>
    </ul>
    </div>
    <div class="span-12">
        <img src="@Url.Content("~/Content/images/architecture.png")" alt=""/>
    </div>
</div>
