﻿@model AppInsights.Models.SupportTicket

@{
    ViewBag.Title = "Support";
    List<object> sevs = ViewBag.Sevs as List<object>;
    List<object> areas = ViewBag.Areas as List<object>;
}

<h2 class="pagename">Support</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2>@ViewBag.Notice</h2>
<p>
     We provide 24x7 support all throughout the year. File a new support ticket here and we'll be sure to respond within 24 hours. 
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Support ticket details</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>        
        <div class="editor-label">
            @Html.LabelFor(model => model.ApplicationKey)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApplicationKey)
            @Html.ValidationMessageFor(model => model.ApplicationKey)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Severity)
        </div>
        <div class="editor-field">            
            @Html.DropDownListFor(model => model.Severity, new SelectList(sevs, "value", "text", Model.Severity))
            @Html.ValidationMessageFor(model => model.Severity)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ServiceArea)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ServiceArea, new SelectList(areas, "value", "text", Model.ServiceArea))
            @Html.ValidationMessageFor(model => model.ServiceArea)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IssueDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IssueDescription)
            @Html.ValidationMessageFor(model => model.IssueDescription)
        </div>
        <p>
            <button type="submit" class="button positive">Submit Ticket</button>
        </p>
    </fieldset>
}


