﻿@model AppInsights.Models.EventParams           
@{
    ViewBag.Title = "DebugEvents";
}

<h2>DebugEvents</h2>
<p>ApplicationId: @Html.DisplayFor(m => m.ApplicationId)</p>
<p>FromDate: @Html.DisplayFor(m => m.FromDate)</p>
<p>ToDate: @Html.DisplayFor(m => m.ToDate)</p>
<p>Aggregation Unit: @Html.DisplayFor(m => m.AggregationUnit)</p>
<p>Session Id: @Html.DisplayFor(m => m.SessionId)</p>
<p>Client DIP: @Html.DisplayFor(m => m.ClientDip)</p>
<p>Component: @Html.DisplayFor(m => m.Component)</p>
<p>Event Type: @Html.DisplayFor(m => m.EventType)</p>
<p>Severity: @Html.DisplayFor(m => m.Severity)</p>
<p>
    Metrics:<br />
    @foreach (string metric in Model.Metrics) {
        <span>@metric</span>
    }
</p>