﻿@model AppInsights.Models.MetricLogParam

@{
    ViewBag.Title = "Reports";
    ViewBag.ReportsSelected = "selected";
}

<script language = "javascript" type = "text/javascript">

    $(document).ready(function () {
        $('form').find('select#ddlApps').change(function () {
            $(this).parents('form').submit();
        });

        $('form').find('input#refreshButton').click(function () {
            $(this).parents('form').submit();
        });

        $('form').find('input#filterButton').click(function () {
            $(this).parents('form').submit();
        });

        $('.date').datepicker({ dateFormat: "MM dd, yy" });

        $('#chartParamHeader').click(function(){
            $('#chartParamTable').toggle();

        });

        CreateChart();
    });

    function CreateChart() {
        var data = @Html.Raw(ViewBag.PlotData);
        var o = @Html.Raw(ViewBag.PlotOptions);
        $.plot($("#chartArea1"), data, o);
    }

</script>

@using (Html.BeginForm("ErrorLog", "Report"))
{
        <h2 class="pagename">@ViewBag.ChartTitle</h2>
        <div id="leftNav" class="span-4 colborder">
        <div>
            @Html.Label("Applications")
            @Html.DropDownListFor(m => m.ApplicationId, ViewBag.AppList as SelectList, new { @id = "ddlApps" })
        </div>
        <div class="span-4">
            <hr />
            <div class="span-4">
                @Html.LabelFor(m => m.SelectedComponents)
                @Html.ListBox("SelectedComponents", ViewBag.ComponentList as MultiSelectList, new { @class = "span-4" })
            </div>    
            <div class="span-4 filterblock">
                @Html.LabelFor(m => m.SelectedSeverity)
            </div>
            <div class="span-4 filterblock">
                @Html.ListBox("SelectedSeverity", ViewBag.SeverityList as MultiSelectList, new { @class = "span-4" })
            </div>
            <div id="fromDate" class="span-4 filterblock">
                @Html.LabelFor(m => m.FromDate)
                @Html.EditorFor(m => m.FromDate)
            </div>
            <div id="toDate" class="span-4 filterblock">
                @Html.LabelFor(m => m.ToDate)
                @Html.EditorFor(m => m.ToDate)        
            </div>
            <div id="aggUnit" class="span-4 filterblock">
                @Html.LabelFor(m => m.AggregationUnit)
                @Html.DropDownListFor(m => m.AggregationUnit, new SelectList(new[] {
                                                                                  new {ID="day",Name="Day"},
                                                                                  new {ID="week",Name="Week"},
                                                                                  new {ID="month",Name="Month"},
                                                                                  new {ID="year",Name="Year"}
                                                                              },
                                "ID", "Name"))
            </div>            
            <div class="span-4">
                <input id="refreshButton" type="button" value="Refresh" />
            </div>
        </div>
    </div>

    <div id="pagecontent" class="span-18">
        <div class="span-10 last">
            <ul class="topnav">
                <li>@Html.ActionLink("Metrics", "Index", "Report")
                    <ul>
                        <li>@Html.ActionLink("Trends", "Index", "Report")
                            <ul>
                                <li>@Html.ActionLink("By Value", "Index", "Report")</li>
                                <li>@Html.ActionLink("By Count", "Index", "Report")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Statistics", "Index", "Report")
                            <ul>
                                <li>@Html.ActionLink("Value", "Index", "Report")</li>
                                <li>@Html.ActionLink("Count", "Index", "Report")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Cohort By Time", "Index", "Report")</li>
                    </ul>
                </li>
                <li class="current">@Html.ActionLink("Logs", "ErrorLog", "Report")</li>
            </ul>
        </div>
        <div id="chartArea" class="span-18">
            <div id="chartArea1" style="width:700px;height:400px;z-index:-1"></div> 
            <div id="chartParamHeader" class="span-17">
                Click on this bar to toggle the display of chart parameters.
            </div>
            <div id="chartParamTable">
                <table>
                    <tr>
                        <th>Aggregation Unit</th>
                        <td>@Model.AggregationUnit</td>
                    </tr>
                    <tr>
                        <th>ApplicationId</th>
                        <td>@Model.ApplicationId</td>
                    </tr>
                    <tr>
                        <th>From Date</th>
                        <td>@Model.FromDate.ToString()</td>
                    </tr>
                    <tr>
                        <th>Measure To Show</th>
                        <td>@Model.MeasureToShow</td>
                    </tr>
                    <tr>
                        <th>Selected Components</th>
                        <td>
                            @foreach (string comp in Model.SelectedComponents)
                            {
                                <span>@comp</span><br />
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Selected Metrics</th>
                        <td>
                            @foreach (string metric in Model.SelectedMetrics)
                            {
                                <span>@metric</span><br />
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Selected Severity</th>
                        <td>
                            @foreach (int sev in Model.SelectedSeverity)
                            {
                                <span>@sev</span><br />
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>To Date</th>
                        <td>@Model.ToDate.ToString()</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
}