﻿@model AppInsights.Models.EventParams
@using AppInsights.Helper;

@{    
    ViewBag.Title = "Reports";
    ViewBag.ReportsSelected = "selected";
    AiDataSchema.EventStreamSchema ess = ViewBag.EventStreamSchema;
    var apps = new SelectList(ViewBag.AllApps, "AccessKey", "Name", ViewBag.CurrentApp);
    var eventTypes = new SelectList(SelectOption.Create(ess.EventTypes, true), "Id", "Name", Model.EventType);
    var components = new SelectList(SelectOption.Create(ess.Components, true), "Id", "Name", Model.Component);
    var sids = new SelectList(SelectOption.Create(ess.SessionIds, true), "Id", "Name", Model.SessionId);
    var clientDips = new SelectList(SelectOption.Create(ess.ClientDips, true), "Id", "Name", Model.ClientDip);
    var sevs = new SelectList(SelectOption.Create(ess.Severities, true), "Id", "Name", Model.Severity);
    var metrics = new MultiSelectList(SelectOption.Create(ess.Metrics.Select(m => m.MetricName).ToList(), false), "Id", "Name", Model.Metrics);
    string[] units = { "day", "week", "month", "year" };
    var aggUnits = new SelectList(units.Select(a => new { Id = a, Name = a }), "Id", "Name", Model.AggregationUnit);    
    Model.ToDate = ess.MaxDate;
    Model.FromDate = Model.ToDate.AddDays(-7);
    System.Data.DataTable data = ViewBag.Data;
}

<script language = "javascript" type = "text/javascript">
    $(document).ready(function () {
        $('.date').datepicker({ dateFormat: "MM dd, yy" });

        $('#ApplicationKey').change(function () {
            var queryLink = '@Url.Action("Events", "Report")';
            if ($(this).val() != '') {
                queryLink += "?appKey=" + $(this).val();
                window.location.href = queryLink;
            }
        });

        drawMultiGraph();
    });

    function drawMultiGraph() {
        var colCount = @data.Columns.Count;
        var lFlotData = [
                            @for (int col = 1; col < data.Columns.Count; col++) 
                            {
                                <text>{label: "</text>@data.Columns[col].ColumnName<text>",</text>
                                <text>lines: { show: true }, points: {show: true},</text>
                                <text>data: [</text>
                                    for (int row = 0; row < data.Rows.Count; row++) {
                                        System.Data.DataRow dataRow = data.Rows[row];
                                        if (dataRow[col] != DBNull.Value) {
                                            <text>[new Date("</text>@dataRow[0]<text>"), </text>@dataRow[col]<text>]</text>
                                        }
                                        else {
                                            <text>[new Date("</text>@dataRow[0]<text>"), 0]</text>
                                        }
                                        if (row < data.Rows.Count - 1) {
                                            <text>,</text>
                                        }
                                    }   // end row loop
                                <text>]}</text>
                                if (col < data.Columns.Count - 1) {
                                    <text>,</text>
                                } 
                            }
                        ];
    
        // hard-code color indices to prevent them from shifting as
        // countries are turned on/off
        var i = 0;
        $.each(lFlotData, function(key, val) {
            val.color = i;
            ++i;
        });
    
        // insert checkboxes 
        var choiceContainer = $("#choices");
        $.each(lFlotData, function(key, val) {
            choiceContainer.append('<br/><input type="checkbox" name="' + key +
                                   '" checked="checked" id="id' + key + '">' +
                                   '<label for="id' + key + '">'
                                    + val.label + '</label>');
        });

        choiceContainer.find("input").click(plotAccordingToChoices);


        function plotAccordingToChoices() {
            var data = [];

            choiceContainer.find("input:checked").each(function () {
                var key = $(this).attr("name");
                if (key && lFlotData[key])
                    data.push(lFlotData[key]);
            });

            if (data.length > 0)
                $.plot($("#placeholder"), data, {
                    yaxis: { min: 0 },
                    xaxis: { mode: "time" }
                });
        }

        plotAccordingToChoices();
        //$.plot($("#placeholder"), lFlotData);
    }

</script>


@using (Html.BeginForm("Events", "Report")) {
    <h2 class="pagename">@ViewBag.ChartTitle</h2>
    <div id="leftNav" class="span-4 colborder">
        <div class="span-4">
            @Html.Label("Application")<br />
            @Html.DropDownListFor(e => e.ApplicationKey, apps)
        </div>        
        <div class="span-4">
            @Html.LabelFor(e => e.EventType)<br />
            @Html.DropDownListFor(e => e.EventType, eventTypes)
        </div>
        <div class="span-4">
            @Html.LabelFor(e => e.Component)<br />
            @Html.DropDownListFor(e => e.Component, components)
        </div>
        <div class="span-4">
            @Html.LabelFor(e => e.SessionId)<br />
            @Html.DropDownListFor(e => e.SessionId, sids)
        </div>
        <div class="span-4">
            @Html.LabelFor(e => e.ClientDip)<br />
            @Html.DropDownListFor(e => e.ClientDip, clientDips)
        </div>
        <div class="span-4">
            @Html.LabelFor(e => e.Severity)<br />
            @Html.DropDownListFor(e => e.Severity, sevs)
        </div>
        <div class="span-4">
            @Html.LabelFor(e => e.Metrics)<br />
            @Html.ListBoxFor(e => e.Metrics, metrics, new { @class = "span-4" })
        </div>

        <div id="fromDate" class="span-4 filterblock">
            @Html.LabelFor(e => e.FromDate)<br />
            @Html.EditorFor(e => e.FromDate)   
        </div>
        <div id="toDate" class="span-4 filterblock">
            @Html.LabelFor(e => e.ToDate)<br />
            @Html.EditorFor(e => e.ToDate)   
        </div>
        <div id="aggUnit" class="span-4 filterblock">
            @Html.LabelFor(e => e.AggregationUnit)<br />
            @Html.DropDownListFor(e => e.AggregationUnit, aggUnits)
        </div>        
        <div class="span-4 filterblock">
            <input id="refreshButton" type="submit" value="Refresh" />
        </div>
    </div>

    <div id="pagecontent" class="span-18">
        <a class="button" href="/Report/DownloadCsv">Download CSV</a>
        <table>
            <thead>
                <tr>
                @foreach (System.Data.DataColumn col in data.Columns) {
                    <th>@col.ColumnName</th>
                }
                </tr>
            </thead>            
        @foreach (System.Data.DataRow row in data.Rows) {
            <tr>
            @foreach (System.Data.DataColumn col in data.Columns) {
                <td>@row[col].ToString()</td>
            }
            </tr>
        }
        </table>      

        <div id="placeholder" style="width:640px;height:340px;"></div>
        <br />
        <div id="choices"><strong>Show: </strong></div>
    </div>
}
