﻿@{
    ViewBag.Title = "Configs";
}

<h2>Configs</h2>
<h3>Conn Strs</h3>
@foreach (string cs in ViewBag.ConnStrs) {
    <p>@cs</p>
}

<h3>App Settings</h3>
@foreach (string aps in ViewBag.AppSettings) {
    <p>@aps</p>
}
