﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("Config settings", "Configs")</li>
    <li>@Html.ActionLink("Small data set", "GenerateSmallDataset")</li>
    <li>@Html.ActionLink("Medium data set", "GenerateMediumDataset")</li>
    <li>@Html.ActionLink("Large data set", "GenerateLargeDataset")</li>
</ul>

