﻿@model IEnumerable<AppInsights.Models.AiEvent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Timestamp
        </th>
        <th>
            SessionId
        </th>
        <th>
            RequestId
        </th>
        <th>
            ComponentName
        </th>
        <th>Metric Name</th>
        <th>Metric Value</th>
        <th>
            Message
        </th>
        <th>
            AppAccount
        </th>
        <th>
            Serverity
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComponentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppAccount.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Serverity.Label)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
