﻿/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    /*border-bottom: 1px #5C87B2 solid;*/
    padding: 0 0 2px;
    position: relative;
    margin: 0;    
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #75716D;
    color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover 
{
    color: #ED8D1F;
    background-color: #ddd;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #9E0E0E;
	color: #ddd;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #ED8D1F;
    color: #fff;
}

span#sidemenu {
    /*border-bottom: 1px #5C87B2 solid;*/
    margin: 0;
	padding: 0;
	/*position: relative;*/
    float: right;
	text-align: right;
	color: #034af3;
}

span#sidemenu a {
    text-decoration: none;
}

span#sidemenu a:hover{
    text-decoration: underline;
}

nav, 
.menucontainer {
    margin-top: 15px;
}

footer, 
ul#footer {
	padding: 0 0 2px;
    position: relative;
    margin: 0;  
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    /*text-align: center;*/
    line-height: normal;
    margin: 0 0 30px 0;
    /*font-size: .9em;*/
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

ul#footer li {
    display: inline;
    list-style: none;
}

ul#footer li a {
    padding: 5px 5px;
    text-decoration: none;
    color: #3E3E42;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#footer li a:hover {
    color: #000;
	text-decoration: underline;
}

.display-label, 
.editor-label {
    margin: 1em 0 0 0;
    color: Gray;
}

.pagename {
	color: #ED8D1F;
}

button.logon {
  display:block;
  float:left;
  /*margin: 0.7em 0.5em 0.7em 0;*/
  padding:3px 10px 3px 7px;   /* Links */
  
  border:1px solid #dedede;
  border-top:1px solid #eee;
  border-left:1px solid #eee;    
  background-color:#ED8D1F;
  font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size:80%;
  line-height:130%;
  text-decoration:none;
  /*font-weight:bold;*/
  color:#fff;
  cursor:pointer;
}

button.logon:hover{
  background-color:#75716D;
  border:1px solid #c2e1ef;
  color:#fff;
}

/* Reports ----------------------------------------------*/

#leftNav
{
    width: 20%;
    height: 640px;
    margin: 0 auto;
    padding: 1em 0;
    text-align: left;
    overflow: auto;
}

ul#navlist
{
    text-align: left;
    list-style: none;
    padding: 0 0 0 0;
    margin: 20px 0 20px 0;
    width: 85%;
}

ul#navlist li
{
    display: block;
    margin: 0;
    padding: 0 0 5px 0;
}

ul#navlist li a
{
    display: block;
    width: 100%;
    padding: 7px 0 7px 7px;
    font-weight: bold;
    font-size: larger;
    color: #fff;
    text-decoration: none;
    background: #75716D;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
}

#leftNav>ul#navlist li a { width: auto; }

ul#navlist li.active a
{
    background: #ED8D1F;
    color: #fff;
}

ul#navlist li a:hover, ul#navlist li.active a:hover
{
    color: #ED8D1F;
    background-color: #ddd;
    text-decoration: none;

}

.filterblock
{
    padding: 10px 0 0 0;
}

#chartParamHeader
{
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    margin:1em 0 0 1em;
    color: #fff;
    font-size:medium;
    background: #666 url(images/gradient.png) repeat-x 0 -110px;
}

#chartParamTable
{
    display: none;
}

/* End Reports ----------------------------------------------*/


/* Start Flot fixes ------------------------------------------*/

.legend table { width: auto }
.legend table tr td { background-color: #fff }


/* End Flot fixxes ------------------------------------------*/

/* Start Top Nav menu -------------------------------------------*/
.topnav {
	margin: 0 0 2em 1em;
	padding: 7px 6px 0 5px;
	background: #666 url(images/gradient.png) repeat-x 0 -110px;
	line-height: 100%;
	
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	width: 675px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
}
.topnav li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}


/* main level link */
.topnav a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;

	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
}
.topnav a:hover {
	background: #000;
	color: #fff;
}

/* main level link hover */
.topnav .current a, .topnav li:hover > a {
	background: #ED8D1F url(images/gradient.png) repeat-x 0 -80px;
	color: #444;
	border-top: solid 1px #f8f8f8;

	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	box-shadow: 0 1px 1px rgba(0,0,0, .2);

	text-shadow: 0 1px 0 rgba(255,255,255, 1);
}

/* sub levels link hover */
.topnav ul li:hover a, .topnav li:hover li a {
	background: none;
	border: none;
	color: #666;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.topnav ul a:hover {
	background: #ED8D1F url(images/gradient.png) repeat-x 0 -100px !important;
	color: #fff !important;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	text-shadow: 0 1px 1px rgba(0,0,0, .1);
}

/* dropdown */
.topnav li:hover > ul {
	display: block;
}

/* level 2 list */
.topnav ul {
	display: none;

	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	background: #ddd url(images/gradient.png) repeat-x 0 0;
	border: solid 1px #b4b4b4;

	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
.topnav ul li {
	float: none;
	margin: 0;
	padding: 0;
}

.topnav ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

/* level 3+ list */
.topnav ul ul {
	left: 181px;
	top: -3px;
}

/* rounded corners of first and last link */
.topnav ul li:first-child > a {
	-webkit-border-top-left-radius: .9em;
	-moz-border-radius-topleft: .9em;

	-webkit-border-top-right-radius: .9em;
	-moz-border-radius-topright: .9em;
}
.topnav ul li:last-child > a {
	-webkit-border-bottom-left-radius: .9em;
	-moz-border-radius-bottomleft: .9em;

	-webkit-border-bottom-right-radius: .9em;
	-moz-border-radius-bottomright: .9em;
}

/* clearfix */
.topnav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.topnav {
	display: inline-block;
}

/* End Top nav ----------------------------------------------------*/