﻿@model AppInsights.Models.AiApplication

@{
    ViewBag.Title = "Delete";
}

<h2 class="pagename">@Html.DisplayFor(model => model.Name)</h2>

<div class="error">This will delete all events for this application! Are you sure you want to delete this application?</div>
<fieldset>
    <legend>Delete</legend>
    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Access Key</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccessKey)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <button type="submit" class="button negative">
                <img src="@Url.Content("~/Content/plugins/buttons/icons/cross.png")" alt=""/> Delete
            </button>
    </p>
}
