﻿@model AppInsights.Models.AiApplication

@{
    ViewBag.Title = "Details";
}

<h2 class="pagename">@Html.DisplayFor(model => model.Name)</h2>
<div class="display-label">Access Key</div>
<div class="display-field">
    @Html.DisplayFor(model => model.AccessKey)
</div>
<p>
    <a class="button positive" href="/Application/Edit/@Model.Id">Edit</a>
    <a class="button negative" style="visibility:hidden" href="/Application/Delete/@Model.Id">Delete</a>
</p>
