﻿@model AppInsights.Models.AiApplication

@{
    ViewBag.Title = "Edit";
}

<h2 class="pagename">@Html.DisplayFor(model => model.Name)</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit</legend>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CustomerId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="display-label">Access Key</div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AccessKey)
            @Html.HiddenFor(model => model.AccessKey)
        </div>

        <p>
            <button type="submit" class="button positive">
                <img src="@Url.Content("~/Content/plugins/buttons/icons/tick.png")" alt=""/> Save
            </button>
        </p>
    </fieldset>
}