﻿@model IEnumerable<AppInsights.Models.AiApplication>

@{
    ViewBag.Title = "Index";
}

<h2 class="pagename">Applications</h2>

<hr class="space" />
<div class="clear prepend-top">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Access Key</th>
        </tr>
        </thead>
@foreach (var item in Model)
{
        <tr>
            <td>@Html.ActionLink(Html.DisplayFor(modelItem => item.Name).ToHtmlString(), "Details", new { id = item.Id })</td>

            <td>@Html.DisplayFor(modelItem => item.AccessKey).ToHtmlString()</td>
        </tr>
}
    </table>
</div>

<div class="append-bottom">
    <a class="button" href="/Application/Create">New Application</a>
</div>