﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="@Url.Content("~/Content/screen.css")" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="@Url.Content("~/Content/print.css")" type="text/css" media="print" /> 
	<!--[if lt IE 8]>
	<link rel="stylesheet" href="@Url.Content("~/Content/ie.css")" type="text/css" media="screen, projection">
	<![endif]-->		
	<link rel="stylesheet" href="@Url.Content("~/Content/plugins/fancy-type/screen.css")" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="@Url.Content("~/Content/plugins/link-icons/screen.css")" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="@Url.Content("~/Content/plugins/buttons/screen.css")" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="@Url.Content("~/Content/appinsights.css")" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" type="text/css" media="screen, projection" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>    
    <script language="javascript" src="@Url.Content("~/Scripts/flot/jquery.flot.js")" type="text/javascript"></script>
    <script language="javascript" src="@Url.Content("~/Scripts/flot/jquery.flot.errorbars.js")" type="text/javascript" ></script>

    <script type="text/javascript">
        if(document.location.hostname.search("localhost") != 0); 
        {
        
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-31609845-1']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        
        }
    </script>
</head>

<body>
<div class="container">
    <div id="header" class="span-14">
        <h1 id="appinsights">
            <img src="@Url.Content("~/Content/images/new_logo.png")" alt="AppInsights image" id="header-image" />
        </h1>
    </div>
	<div class="span-10 last menucontainer">        
        @Html.Partial("_LogOnPartial")		
    </div>
		
    <div class="span-24 last menucontainer">
		<ul id="menu">
			<li class="@ViewBag.HomeSelected">@Html.ActionLink("Home", "Index", "Home")</li>
			@if (Request.IsAuthenticated) 
            {
                <li class="@ViewBag.ApplicationsSelected">@Html.ActionLink("Applications", "Index", "Application")</li>            
			    <li class="@ViewBag.ReportsSelected">@Html.ActionLink("Reports", "Index", "Report")</li>	
            }            
            <li class="@ViewBag.DevelopersSelected">@Html.ActionLink("Developers", "Developers", "Home")</li>	
            <li class="@ViewBag.SupportSelected">@Html.ActionLink("Support", "Support", "Home")</li>	 			
		</ul>
        
    </div>
	
    <hr/>
	
    <div class="span-24 last" id="content">	
		@RenderBody()
	</div>
    
    <hr />
		
	<div class="span-24">
		<ul id="footer">
            <li>@Html.ActionLink("About Us", "About", "Home")</li>
            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
            <li><a href="mailto:info@streamviolet.com">Feedback</a></li>				
		</ul>
	</div>
</div>
</body>

</html>
