﻿@if(Request.IsAuthenticated) {
    <div style="text-align: right;">
        <text>Welcome <strong>@User.Identity.Name</strong>!
        [ @Html.ActionLink("Log Off", "LogOff", "Account") ]</text>
    </div>
}
else {
    AppInsights.Models.Customer customer = new AppInsights.Models.Customer();
    using (Html.BeginForm("LogOn", "Account")) {
        <div style="float: right;">
            <div class="span-4">
                <div>
                    @Html.LabelFor(m => customer.Name)
                </div>
                <div>            
                    @Html.TextBoxFor(m => customer.Name)
                    @Html.ValidationMessageFor(m => customer.Name)
                </div>
            </div>
            <div class="span-4">
                <div>
                    @Html.LabelFor(m => customer.Password)
                </div>
                <div>
                    @Html.PasswordFor(m => customer.Password)
                    @Html.ValidationMessageFor(m => customer.Password)
                </div>

                <div>
                    @Html.CheckBoxFor(m => customer.RememberMe)
                    @Html.LabelFor(m => customer.RememberMe)
                </div>                
            </div>
            <div class="span-2 last">
                <div style="color: #fff">
                    @Html.Label(";")
                </div>
                <div>            
                    <button type="submit" class="logon">Log On</button>                                    
                </div>
            </div>
        </div>
    }
}
